* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.toastify {
  min-width: 220px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  right: 0;
  transition: all 1s ease;
}

.hide-toastify {
  transform: translateX(160%);
  transition: all 1s ease;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}